body {
  padding: 8px;
  font-family: "Times New Roman", "Ÿà–¾’©", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
h1{
  font-size:32px;
  margin: 4px;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
  max-width: 60%;
}
#localstorage-disabled{
  display: none;
}
#hist{
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}
#hist li{
  border-radius: 3px;
  border: solid 1px skyblue;
  margin: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #eee;
  white-space: nowrap;
  padding: 6px 12px;

}

#loupe, #help{
  height: 110%;
  width: 100%;
  position: fixed;
  top:0; left:0;
  background-color: black;
  color: #ddd;
  border:solid 1px #333;
  display: none;
  z-index: 10;
  text-align:center;
}
#help{
  border:none;
}
#help img{
 width:100%;
}
#loupe-info{
  color: silver;
  padding-top: 45px;
}
#delete-button{
  margin: 15px 0 0 5px;
}

#loupe button.close{
  margin-right: 5px;
}
#loupe-text{
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
  margin-top: 10px;
  display: inline-block;
  white-space: nowrap;
}
#clear-all-button-box{
  margin-top: 30px;
  text-align: right;
}
span.help-button{
  color: gray;
}

footer{
  position: fixed;
  bottom: 0;
}

span#open-help{
  padding: 0 0 15px 15px;
}
